
html {
  background-color: black; //<#f0f0f0;
}

body {
  color: white; //@gray;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  padding-right: 2rem;
  width: 96%;
  margin: auto;
}

h1.title {
  text-align: center;
  //padding-bottom: 0.7rem;
}

p.title {
	text-align: center;
	color: white;
}

div.title {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;
  border-bottom: white 1px solid;
}

div#parent {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  
  width: 100%;
}


div.flexRow {
  display: inline-flex;
  justify-content: space-evenly;
  background-color: darkgray;

  //border: solid red 1px;
  border-radius: 10px;
  //margin: 2px;
  margin-bottom: 150px; 
  padding: 1rem; 
  width: 100%; 
}

div.row_tit {
  display: inline-flex;
  border: none;
  font-size: 18pt;
  font-weight: bold;
  font-style: italic;
}

div p {
	color: black;
	font-size: larger;
	font-weight: bold; 
	}

input {
	padding: 3px;
	font-family: monospace;
	font-size: x-large;
	min-width: 5rem;
	}

button {
	font-size: large;
	}

div div {//border: solid blue 1px; }

p#sign {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 12pt;
	}





